  <% if user_signed_in? %>
  <% provide(:title, current_user.username) %>
  <div class="row">
    <aside class="span9">
      <section>
       <% unless @is_edit_form %> 
        <%= render 'shared/create_form' %>
       <% else %>
        <%= render 'shared/update_form' %>
       <% end %>
      </section>
    </aside>

    <% unless @notes.nil? %>
      <div class= "span9">
         <h3>notes (<%= @notes.count %>)</h3>
          <ul class="notes">  
            <%= render @notes %>
          </ul>
        </div>
    <% end %>


  <% else %>
    <% provide(:title, "Home") %>
    <div class="center hero-unit">
      <h1>Welcome to the note manager</h1>

    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>