<% if user_signed_in? %>
  <div class="row">

    <aside class="span4">
      <section>
        <%= form_for(@note) do |f| %>
        
        <%= f.label :theme %>
        <%= f.text_field :theme %>

        <%= f.label :content %>
        <%= f.text_area :content %>
        
        <%= f.submit "Complete!", class: "btn btn-large btn-primary" %>
      
      <% end %>
      </section>
    </aside>

    <% if @notes.count > 0 %>
       <div class= "span9">
         <h3>notes (<%= @notes.count %>)</h3>
        <ul class="notes">  
          Render notes!
          <%= render @notes %>
        </ul>
      </div>
    <% end %>

  <% else %>
    <div class="center hero-unit">
      <h1>Welcome to the note manager</h1>

    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>