<% if user_signed_in? %>
  <div class="row">
    <% if false %>
    <aside class="span4">
      <section>
        <%= form_for(@note) do |f| %>
        
        <%= f.label :theme %>
        <%= f.text_field :theme %>

        <%= f.label :content %>
        <%= f.text_area :content %>
        
        <%= f.submit "Complete!", class: "btn btn-large btn-primary" %>
      
      <% end %>
      </section>
    </aside>
    <% end %>
    <div class= "span9">
      <ul class="notes">  
      <%= render @notes %>
      </ul>
    </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the note manager</h1>

    <%= link_to "Sign up now!", new_user_registration_path,
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %>