Note dev info
<i>
	<% if note.theme.nil? %>
		Note null!<br />
		note.theme |<%= note.theme %>|<br />
		note.content |<%= note.content %>|<br />
		note.id |<%= note.id%>| <br />
	<% end %>
<i>


<li>
 	Theme: <%= note.theme %><br />
  <%= note.content %><br />
<% if false %>
  <% unless note.nil? %>
	  <p align ='right'> Last changes <%= "#{note.updated_at + ActiveSupport::TimeZone[current_user.timezone].utc_offset}"%> </p>
	<% end %>
<% end %>
</li>